<?xml version="1.0"?>
<launch>

  <node name="right_arm_ft_sensor" pkg="dumbo_force_torque_sensor" type="dumbo_force_torque" cwd="node" respawn="false" output="screen">
    <rosparam command="load" file="$(find dumbo_hardware_config)/dumbo/config/right_arm_ft_sensor.yaml" />
  </node>

 <node ns="right_arm_ft_sensor" name="gravity_compensation" pkg="gravity_compensation" type="gravity_compensation_node" cwd="node" respawn="false" output="screen">
    <rosparam command="load" file="$(env HOME)/.ros/ft_calib/dumbo_right_arm_ft_calib_data.yaml" />
    <remap from="/right_arm_ft_sensor/gravity_compensation/ft_raw" to="/right_arm_ft_sensor/ft_raw" />
    <remap from="/right_arm_ft_sensor/gravity_compensation/imu" to="/imu/data" />
    <remap from="/right_arm_ft_sensor/gravity_compensation/ft_compensated" to="/right_arm_ft_sensor/ft_gravity_compensated" />
    <remap from="/right_arm_ft_sensor/gravity_compensation/ft_zeroed" to="/right_arm_ft_sensor/ft_zeroed" />
    <param name="loop_rate" value="650.0" />
    <param name="gripper_com_child_frame_id" value="/robotiq_com"/>
  </node>

</launch>
