<?xml version="1.0"?>
<launch>

  <node name="right_arm_FT_sensor" pkg="dumbo_FT_sensor" type="dumbo_force_torque" cwd="node" respawn="false" output="screen">
    <rosparam command="load" file="$(find dumbo_hardware_config)/dumbo/config/right_arm_FT_sensor.yaml" />
    <remap from="/right_arm_FT_sensor/imu" to="/imu/data" />
  </node>

  <!-- FT sensor location -->
  <!-- <node ns="right_arm_FT_sensor" pkg="tf" type="static_transform_publisher" name="tf_publisher_FT" -->
  <!--       args="0 0 0.218 0 0 0  /right_arm_7_link /right_arm_FT_sensor 100" />   -->

  <!-- End effector center of mass location (calibrated with the SDH) -->
  <node ns="right_arm_FT_sensor" pkg="tf" type="static_transform_publisher" name="tf_publisher_EE_CenterMass"
        args="-0.00413157, 0.000503835, 0.00800312 0 0 0  /right_arm_FT_sensor /right_arm_EndEffector_CenterMass 100" />  
</launch>
