<?xml version="1.0"?>
<launch>

  <!-- Brings up Dumbo with F/T sensors, left and right arms, PG70 parallel gripper on left arm, SDH on right arm, accelerometer  -->

  <!-- upload robot description -->
  <include file="$(find dumbo_hardware_config)/common/upload_dumbo_sdh.launch" />

  <!-- start robot_state_publisher -->    
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" >
    <param name="publish_frequency" type="double" value="130" />    
  </node>

  <!-- upper robot -->
  <include file="$(find dumbo_bringup)/components/left_lwa.launch" />
  <include file="$(find dumbo_bringup)/components/right_lwa_sdh.launch" />

  <!-- Force Torque Sensors -->
  <include file="$(find dumbo_bringup)/components/left_arm_ft_sensor.launch" />  
  <include file="$(find dumbo_bringup)/components/right_arm_ft_sensor.launch" />


  <!-- Accelerometer -->
  <include file="$(find dumbo_bringup)/components/imu.launch"/>

  <!-- Dashboard -->
  <node pkg="dumbo_dashboard" type="dumbo_dashboard" name="dumbo_dashboard"/>
   
</launch>
