<?xml version="1.0"?>
<launch>

  <!-- Brings up Dumbo with F/T sensors, left and right arms, PG70 parallel gripper on left arm, Robotiq hand on the right arm with Biotac sensors, accelerometer  -->

  <!-- upload robot description -->
  <include file="$(find dumbo_hardware_config)/common/upload_dumbo_robotiq.launch" />

  <!-- start robot_state_publisher -->    
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" >
    <param name="publish_frequency" type="double" value="100" />    
  </node>

  <!-- upper robot -->
  <include file="$(find dumbo_bringup)/components/left_lwa.launch" />
  <include file="$(find dumbo_bringup)/components/right_lwa.launch" />

  <!-- Robotiq hand -->
  <include file="$(find dumbo_bringup)/components/robotiq.launch" />

  <!-- Biotac sensors -->
  <include file="$(find dumbo_bringup)/components/biotac.launch" />

  <!-- Force Torque Sensors -->
  <include file="$(find dumbo_bringup)/components/left_arm_ft_sensor.launch" />  
  <include file="$(find dumbo_bringup)/components/right_arm_ft_sensor_robotiq.launch" />


  <!-- Accelerometer -->
  <include file="$(find dumbo_bringup)/components/imu.launch"/>

  <!-- Visualization -->
  <!-- <include file="$(find dumbo_bringup)/robots/dumbo/dumbo_visualization.launch"/> -->

  <!-- Dashboard -->
  <node pkg="dumbo_dashboard" type="dumbo_dashboard" name="dumbo_dashboard"/>

  <!-- Kinect -->
  <!-- <include file="$(find dumbo_bringup)/components/kinect.launch"/> -->

  <!-- Arm navigation -->
  <include file="$(find dumbo_arm_navigation)/dumbo_robotiq/launch/dumbo_arm_navigation.launch"/>

  <!-- Startup CAN cards -->
  <!-- <node name="startup_CAN_cards" pkg="dumbo_scripts" type="start_CAN_cards.sh" /> -->
  
</launch>
